
/* Configuraciones comunes */

body{
	background: #000000;
	color: white;
	font-size: 16px;
	font-family: 'Dancing Script';
}
a{
	color: white;
	text-decoration: none;
}
h1{
	 text-shadow: 2px 2px #02010a;
}
img{
	display:block;
	margin:0 auto 0 auto;
}
#anima{
	animation-name: anima-animacion;
	animation-duration: 3s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}
.adaptativa{
	width:80%;
	height: auto;
}
#columna2 img:hover
{
	transform: rotate(10deg);
	-webkit-box-shadow:  2px 2px 2px 2px #82c3a6;
  -moz-box-shadow:  2px 2px 2px 2px #82c3a6;
	box-shadow: 2px 2px 2px 2px #82c3a6;
}
#columna3 img:hover
{
	transform: translate(20px,-5px);
	-webkit-box-shadow:  2px 2px 2px 2px #82c3a6;
  -moz-box-shadow:  2px 2px 2px 2px #82c3a6;
	box-shadow: 2px 2px 2px 2px #82c3a6;
}
#imagen_secundaria {
	text-align: center;
}
#imagen1 img{
	-webkit-filter: blur(10px); 
	filter: blur(10px);

}
#imagen2 img{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);

}
#imagen3 img{
	-webkit-filter: sepia(90%); 
	filter: sepia(90%);

}
@keyframes anima-animacion {
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
 }
footer a{
	color: black;
}
#footer1 div{
	padding: 10px;
	width: 100%;
	color: black;
	text-decoration: none;
	clear:left;
}
#redes img{
	float: left;
  clear:left;
	margin-bottom: 5px;
	width: 50px;
	border-radius: 15px;
}

/* Opciones para Desktop */

@media screen and (min-width: 900px){
	#contenido
	{
		width: 900px;
		margin: auto;
	}

	header
	{
		box-sizing: border-box;
		float:left;
		height: 100px;
		background-color: #5b7989;
		padding: 10px;
		text-align: left;
		border-top-left-radius: 10px;
		width: 70%;
	}
	nav
	{
		box-sizing: border-box;
		float:right;
		height: 100px;
		background-color: #5b7989;
		padding: 10px;
		text-align: right;
		width: 30%;
		border-top-right-radius: 10px;
	}
	section{
		box-sizing: border-box;
		float:left;
		width: 100%;
	}
	#imagen_secundaria{
		display: flex;
		flex-wrap: nowrap;
		background-color: #d5c75f;
		border-style: solid;
		border-width: 1px;
	}
	#imagen_galeria{
		display: flex;
		flex-wrap: wrap;
		background-color: #d5c75f;
		width: 100%;
}
	#imagen_galeria img{
		margin-bottom: 5px;
		width: 290px;
		border-radius: 15px;
		padding: 5px;
	}
	footer{
		display: flex;
		flex-wrap: nowrap;
		background-color: #C6d5c5;
		padding: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	#columna1
	{
		background-color: #82c3a6;
		padding: 10px;
	}
	#columna2
	{
		padding: 10px;
		width: 50%;
	}
	#columna3
	{
		padding: 10px;
		width: 50%;
	}
}

/* Opciones para Movil */

@media screen and (max-width: 900px){
	#contenido
	{
		width: 95%;
		margin: auto;
	}
	header
	{
		box-sizing: border-box;
		float:left;
		background-color: #5b7989;
		padding: 10px;
		text-align: center;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		width: 100%;
	}
	nav
	{
		box-sizing: border-box;
		float:left;
		background-color: #5b7989;
		padding: 10px;
		text-align: center;
		width: 100%;

	}
	section{
		box-sizing: border-box;
		float:left;
		width: 100%;
	}
	#imagen_secundaria{
		background-color: #d5c75f;
		border-style: solid;
		border-width: 1px;
	}
	#imagen_galeria{
		background-color: #d5c75f;
		width: 100%;
}
	#imagen_galeria img{
		margin-bottom: 5px;
		border-radius: 15px;
		padding: 5px;
	}
	#columna1
	{
		background-color: #82c3a6;
		padding: 10px;
	}

	#columna2
	{
		padding: 10px;
		width: 100%;
	}
	#columna3
	{
		padding: 10px;
		width: 100%;
	}
	footer{
		box-sizing: border-box;
		float:left;
		background-color: #C6d5c5;
		padding: 10px;
		width: 100%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
